# Secrets
.env
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# local databases
db.sqlite3
*.db

# Virtual environment
venv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and temporary files
*.log
*.tmp

# IDE / Editor settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Testing / Coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pylint & MyPy
.mypy_cache/
pylint.log
